rupture.scale = 0px 400px 600px 768px 1023px 1200px 1400px
@import 'nib'
global-reset();
//importamos nuestros .styl con la ruta relativa a nuestra raiz (styles) y a nuestro path (node_modules)
// Puede ser de manera manual para indicar orden de compilacion
// @import 'base/normalize'
// @import 'base/mixins'
// @import 'base/variables'
// @import 'base/global'
// o todos los archivos que esten dentro de la carpeta
@import 'base/**/*.styl'