.countdown  
    background: green
    max-width: 400px
    margin 0 auto
    &__header
        padding: 10px
        display: block
        background: tomato
    &__body
        background: teal
        padding: 20px
        text-align center
        span
            color #fff
            font-size: 30px